@import '../styles/base.scss';

.circle {
  height: 10vmin;
  width: 10vmin;
  border-radius: 50%;
  background-color: limegreen;

  --offset: 50%;
  --x-px: calc(calc(var(--x) * 1px) - var(--offset));
  --y-px: calc(calc(var(--y) * 1px) - var(--offset));

  transform: translate(var(--x-px), var(--y-px));
}